<div class="bg-light p-1">
  <div class ="row mx-2 my-3 justify-content-center">
    <div class="col col-md-1">
      <img src="{% link assets/images/logo_eu.jpg %}" alt="Logo Unii Europejskiej" class="img-fluid" />
    </div>
    <div class="col col-md-8">
    </div>
    <div class="col col-md-1">
      <img src="{% link assets/images/logo_prow.jpg %}" alt="Logo Programu Rozwoju Obszarów Wiejskich" class="img-fluid" />
    </div>
  </div>
  <div class="row mt-3 justify-content-center">
    <div class="col col-md-9">
      <p class="text-center">
        „Europejski Fundusz Rolny na rzecz Rozwoju Obszarów Wiejskich: Europa inwestująca w obszary wiejskie”
      </p>
      <p class="text-center">
        Operacja pn. „Podniesienie jakości porzeczki czarnej poprzez mniejsze wykorzystanie środków ochrony roślin w procesie uprawy dzięki zastosowaniu technologii selektywnego oprysku”
      </p>
      <p class="text-center">
        mająca na celu opracowanie i wdrożenie technologii automatycznej identyfikacji występowania szkodników na plantacji porzeczki oraz punktowego oprysku selektywnym preparatem, co ma przełożenie na mniejsze nasycenie owoców porzeczki szkodliwymi dla zdrowia środkami ochrony roślin
      </p>
      <p class="text-center">
        współfinansowana jest ze środków Unii Europejskiej w ramach działania „Współpraca” Programu Operacyjnego Obszarów Wiejskich na lata 2014-20
      </p>
    </div>
  </div>
</div>
