<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
    <meta charset="utf-8" />
    <meta name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="{{ "assets/css/owoce_4_0.css" | relative_url
      }}" />
  </head>

  <body>
    <div class="container mb-5">
      {% include owoce_4_0_header.html %}
      <div class="row justify-content-center mt-2">
        <div class="col col-md-10">
          <div class="card bg-dark text-white">
            <img src="{% link assets/images/owoce_4_0_banner.jpg %}"
              class="card-img opacity-50"
              alt="Owoce czarnej porzeczki wiszące na krzaczku." />
            <div
              class="card-img-overlay d-flex justify-content-center align-items-center">
              <h1 class="card-title text-center">Owoce 4.0</h1>
            </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-center mt-4">
        <div class="col col-md-10">
          <p>
            „Europejski Fundusz Rolny na rzecz Rozwoju Obszarów Wiejskich:
            Europa
            Inwestująca w obszary
            wiejskie”. Operacja mająca na celu opracowanie i wdrożenie
            technologii
            automatycznej identyfikacji występowania szkodników na plantacji
            porzeczki oraz punktowego oprysku selektywnym
            preparatem, co ma przełożenie na mniejsze nasycenie owoców porzeczki
            szkodliwymi dla zdrowia
            środkami ochrony roślin współfinansowana jest ze środków Unii
            Europejskiej w ramach działania
            Współpraca Programu Rozwoju Obszarów Wiejskich na lata 2014-2020.
          </p>
          <p>

            Celem operacji jest opracowanie i wdrożenie technologii
            automatycznej
            identyfikacji występowania
            szkodników na plantacji porzeczki oraz punktowego oprysku
            selektywnym
            preparatem, co ma
            przełożenie na mniejsze nasycenie owoców porzeczki szkodliwymi dla
            zdrowia środkami ochrony
            roślin. Efekty działań podejmowanych w ramach operacji:<br>
            - opracowanie technologii dedykowanej plantacji porzeczki -
            inteligentne urządzenie do monitorowania real-time oraz on-line
            upraw krzewów czarnej porzeczki,<br>
            - poprawienie jakość owoców porzeczki poprzez znaczną redukcję
            zawartości środków ochrony
            roślin,<br>
            - zorganizowanie konferencji podsumowującej rezultaty projektu,<br>
            - zorganizowanie konferencji branżowej dla producentów porzeczki
            połączonej z wizytą terenową na
            plantacji
          </p>
          <p>

            Realizacja operacji pt. Podniesienie jakości porzeczki czarnej
            poprzez
            mniejsze wykorzystanie środków
            ochrony roślin w procesie uprawy dzięki zastosowaniu technologii
            selektywnego oprysku w ramach
            działania &quot;Współpraca&quot; PROW 2014-2020.
            Operacja realizowana przez grupę operacyjna pod nazwą „Owoce 4.0”.
            Wartość uzyskanego dofinansowania: 3 259 157PLN
          </p>
        </div>
      </div>
      <div class="row justify-content-center mt-2">
        <div class="col col-md-10">
          <h2>Etap 1</h2>
          <h3>Cel etapu</h3>
          <p>
            Celem Etapu 1 było przygotowanie zasobów do prowadzenia prac w
            zakresie B+R potrzebnych do realizacji kolejnych etapów
            projektu oraz rozpoczęcie prac nad
            rozwojem algorytmu sztucznej inteligencji.
          </p>
          <h3>Przygotowanie zasobów do realizacji prac B+R</h3>
          <p>
            W ramach Etapu 1 został zakupiony sprzęt niezbędny do prowadzenia
            badań oraz do tworzenia produktu w ramach trwania projektu.
            Zapewnione zostało wyposażenie warsztatu, urządzenia badawcze do
            weryfikacji rezultatów działania produktu oraz elementy
            konstrukcyjne będące częścią produktu (m.in. kamery oraz źródła
            światła).
          </p>
          <h3>Zakup oraz rozwój algorytmu sztucznej inteligencji</h3>
          <p>
            W ramach tego etapu poczynione zostały pierwsze kroki w zakresie
            zakupu
            oraz rozbudowy algorytmu sztucznej inteligencji. Jako baza do
            rozwoju własnego modelu, zakupiona została własność intelektualna
            istniejącego modelu, który posłuży do dalszego rozwoju
            przedsięwzięcia.
            W Etapie 1 nasz model został rozbudowany o pierwsze wersje
            funkcjonalności związane z wykrywaniem występowania szkodników na
            plantacji czarnej porzeczki.
          </p>
          <h3>Zbiór danych</h3>
          <p>
            Aby zasilić rozbudowę algorytmu sztucznej inteligencji, konieczne
            było pozyskanie i przygotowanie danych. Przy użyciu kamer oraz
            źródeł światła, zostało zebrane kilkadziesiąt GB materiałów
            foto/wideo z
            plantacji.
            Spośród tej grupy danych zostało wyselekcjonowane oraz oznaczone
            ponad kilkaset zdjęć
            pod względem wykrytych szkodników, zgodnie z wynikami badań
            prowadzonymi na uczelni. Zgromadzone dane wejściowe wpłynęły
            na rozwój nauki
            sieci neuronowej w Etapie 1.
          </p>
          <div class="card bg-dark text-white">
            <img src="{% link assets/images/etap_1_badania.jpg %}"
              class="card-img"
              alt="Krzaki czarnej porzeczki nocą, oświetlone lampami." />
          </div>
          <div class="d-flex justify-content-center w-100">
            <i class="text-center">
              Zbiór danych potrzebnych do rozwoju algorytmu sztucznej
              inteligencji.
            </i>
          </div>
          <h3>Promocja projektu</h3>
          <p>
            W dniu 14.06.2023 mieliśmy możliwość zaprezentować nasz projekt w
            ramach
            konferencji Cyfrowy Horyzont organizowanej przez Narodowe Centrum
            Badań i Rozwoju. Omówione zostały cele projektu, zakres prac oraz
            przedstawione zostało źródło finansowania projektu.
            W ten sposób możliwa była propagacja wiedzy w zakresie realizowanego
            projektu oraz szerzej pojmowanej innowacji w rolnictwie.
          </p>

          <div class="card bg-dark text-white">
            <img src="{% link assets/images/etap_1_konf_1.jpg %}"
              class="card-img"
              alt="CEO Łukasz Kopiński prezentuje projekt 'Owoce 4.0' na konferencji organizowanej przez NCBiR. W tle prezentacja ze slajdem od dofinansowaniu pochodzącym z ARiMRu." />
          </div>
          <div class="card bg-dark text-white mt-2">
            <img src="{% link assets/images/etap_1_konf_2.jpg %}"
              class="card-img"
              alt="CEO Łukasz Kopiński prezentuje projekt 'Owoce 4.0' na konferencji organizowanej przez NCBiR. W tle prezentacja z logo firmy Ribes Technologies." />
          </div>
          <div class="d-flex justify-content-center w-100">
            <i class="text-center">
              CEO Łukasz Kopiński prezentuje projekt Owoce 4.0. na konferencji
              "Cyfrowy Horyzont" organizowanej przez NCBiR.
            </i>
          </div>
        </div>
      </div>
      <div class="row justify-content-center mt-2">
        <div class="col col-md-10">
          <h2>Etap 2</h2>
          <h3>Cel etapu</h3>
        </div>
      </div>
    </div>
  </body>
</html>
