<!DOCTYPE html>
<html>

<head>
  <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  <link rel="stylesheet" href="{{ " assets/css/owoce_4_0.css" | relative_url }}" />
</head>

<body>
  <div class="container mb-5">
    {% include owoce_4_0_header.html %}
    <div class="row justify-content-center mt-2">
      <div class="col col-md-10">
        <div class="card bg-dark text-white">
          <img src="{% link assets/images/owoce_4_0_banner.jpg %}" class="card-img opacity-50"
            alt="Owoce czarnej porzeczki wiszące na krzaczku." />
          <div class="card-img-overlay d-flex justify-content-center align-items-center">
            <h1 class="card-title text-center">Owoce 4.0</h1>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center mt-4">
      <div class="col col-md-10">
        <p>
          „Europejski Fundusz Rolny na rzecz Rozwoju Obszarów Wiejskich:
          Europa
          Inwestująca w obszary
          wiejskie”. Operacja mająca na celu opracowanie i wdrożenie
          technologii
          automatycznej identyfikacji występowania szkodników na plantacji
          porzeczki oraz punktowego oprysku selektywnym
          preparatem, co ma przełożenie na mniejsze nasycenie owoców porzeczki
          szkodliwymi dla zdrowia
          środkami ochrony roślin współfinansowana jest ze środków Unii
          Europejskiej w ramach działania
          Współpraca Programu Rozwoju Obszarów Wiejskich na lata 2014-2020.
        </p>
        <p>

          Celem operacji jest opracowanie i wdrożenie technologii
          automatycznej
          identyfikacji występowania
          szkodników na plantacji porzeczki oraz punktowego oprysku
          selektywnym
          preparatem, co ma
          przełożenie na mniejsze nasycenie owoców porzeczki szkodliwymi dla
          zdrowia środkami ochrony
          roślin. Efekty działań podejmowanych w ramach operacji:<br>
          - opracowanie technologii dedykowanej plantacji porzeczki -
          inteligentne urządzenie do monitorowania real-time oraz on-line
          upraw krzewów czarnej porzeczki,<br>
          - poprawienie jakość owoców porzeczki poprzez znaczną redukcję
          zawartości środków ochrony
          roślin,<br>
          - zorganizowanie konferencji podsumowującej rezultaty projektu,<br>
          - zorganizowanie konferencji branżowej dla producentów porzeczki
          połączonej z wizytą terenową na
          plantacji
        </p>
        <p>

          Realizacja operacji pt. Podniesienie jakości porzeczki czarnej
          poprzez
          mniejsze wykorzystanie środków
          ochrony roślin w procesie uprawy dzięki zastosowaniu technologii
          selektywnego oprysku w ramach
          działania &quot;Współpraca&quot; PROW 2014-2020.
          Operacja realizowana przez grupę operacyjna pod nazwą „Owoce 4.0”.
          Wartość uzyskanego dofinansowania: 3 361 893 PLN
        </p>
      </div>
    </div>
    <div class="row justify-content-center mt-2">
      <div class="col col-md-10">
        <h2>Etap 1</h2>
        <h3>Cel etapu</h3>
        <p>
          Celem Etapu 1 było przygotowanie zasobów do prowadzenia prac w
          zakresie B+R potrzebnych do realizacji kolejnych etapów
          projektu oraz rozpoczęcie prac nad
          rozwojem algorytmu sztucznej inteligencji.
        </p>
        <h3>Przygotowanie zasobów do realizacji prac B+R</h3>
        <p>
          W ramach Etapu 1 został zakupiony sprzęt niezbędny do prowadzenia
          badań oraz do tworzenia produktu w ramach trwania projektu.
          Zapewnione zostało wyposażenie warsztatu, urządzenia badawcze do
          weryfikacji rezultatów działania produktu oraz elementy
          konstrukcyjne będące częścią produktu (m.in. kamery oraz źródła
          światła).
        </p>
        <h3>Zakup oraz rozwój algorytmu sztucznej inteligencji</h3>
        <p>
          W ramach tego etapu poczynione zostały pierwsze kroki w zakresie
          zakupu
          oraz rozbudowy algorytmu sztucznej inteligencji. Jako baza do
          rozwoju własnego modelu, zakupiona została własność intelektualna
          istniejącego modelu, który posłuży do dalszego rozwoju
          przedsięwzięcia.
          W Etapie 1 nasz model został rozbudowany o pierwsze wersje
          funkcjonalności związane z wykrywaniem występowania szkodników na
          plantacji czarnej porzeczki.
        </p>
        <h3>Zbiór danych</h3>
        <p>
          Aby zasilić rozbudowę algorytmu sztucznej inteligencji, konieczne
          było pozyskanie i przygotowanie danych. Przy użyciu kamer oraz
          źródeł światła, zostało zebrane kilkadziesiąt GB materiałów
          foto/wideo z
          plantacji.
          Spośród tej grupy danych zostało wyselekcjonowane oraz oznaczone
          ponad kilkaset zdjęć
          pod względem wykrytych szkodników, zgodnie z wynikami badań
          prowadzonymi na uczelni. Zgromadzone dane wejściowe wpłynęły
          na rozwój nauki
          sieci neuronowej w Etapie 1.
        </p>
        <div class="card bg-dark text-white">
          <img src="{% link assets/images/etap_1_badania.jpg %}" class="card-img"
            alt="Krzaki czarnej porzeczki nocą, oświetlone lampami." />
        </div>
        <div class="d-flex justify-content-center w-100">
          <i class="text-center">
            Zbiór danych potrzebnych do rozwoju algorytmu sztucznej
            inteligencji.
          </i>
        </div>
        <h3>Promocja projektu</h3>
        <p>
          W dniu 14.06.2023 mieliśmy możliwość zaprezentować nasz projekt w
          ramach
          konferencji Cyfrowy Horyzont organizowanej przez Narodowe Centrum
          Badań i Rozwoju. Omówione zostały cele projektu, zakres prac oraz
          przedstawione zostało źródło finansowania projektu.
          W ten sposób możliwa była propagacja wiedzy w zakresie realizowanego
          projektu oraz szerzej pojmowanej innowacji w rolnictwie.
        </p>

        <div class="card bg-dark text-white">
          <img src="{% link assets/images/etap_1_konf_1.jpg %}" class="card-img"
            alt="CEO Łukasz Kopiński prezentuje projekt 'Owoce 4.0' na konferencji organizowanej przez NCBiR. W tle prezentacja ze slajdem od dofinansowaniu pochodzącym z ARiMRu." />
        </div>
        <div class="card bg-dark text-white mt-2">
          <img src="{% link assets/images/etap_1_konf_2.jpg %}" class="card-img"
            alt="CEO Łukasz Kopiński prezentuje projekt 'Owoce 4.0' na konferencji organizowanej przez NCBiR. W tle prezentacja z logo firmy Ribes Technologies." />
        </div>
        <div class="d-flex justify-content-center w-100">
          <i class="text-center">
            CEO Łukasz Kopiński prezentuje projekt Owoce 4.0. na konferencji
            "Cyfrowy Horyzont" organizowanej przez NCBiR.
          </i>
        </div>
      </div>
    </div>
    <div class="row justify-content-center mt-2">
      <div class="col col-md-10">
        <h2>Etap 2</h2>
        <h3>Cel etapu</h3>
        <p>
          Celami dość krótkiego Etapu 2 było i) dokończenie zakupów sprzętów niezbędnych do rozwoju projektu ii)
          wykorzystanie wciąż trwającego sezonu do przeprowadzania badań oraz ulepszenia algorytmów przy użyciu
          pozyskanych danych.
        </p>
        <h3>Pozyskanie brakujących zasobów</h3>
        <p>
          W ramach zakupów inwestycjnych, wykorzystanych w pracach B+R, zakupione zostały następujące sprzęty:
        </p>
        <ul>
          <li>Drukarka 3D - służąca do wydruku elemntów prototypu</li>
          <li>Dron - niezbędny w mapowaniu pól w celu autonomicznego poruszania się oraz w dodatkowej detekcji kamerami
            spektralnymi</li>
          <li>Autonomiczna platforma jezdna - autonomiczny pojazd do zastosowań w rolnictwie, z możliwością umieszczenia
            Modułu wizyjnego</li>
        </ul>
        <h3>Rozwój algorytmu sztucznej inteligencji</h3>
        <p>
          Rozwój algorytmu sztucznej inteligencji jest stałym (oraz kluczowym) elementem rozwoju tego projektu.
          W tym etapie rozwój stworzone zostały nowe modele, w oparciu o wiedzę zdobytą w etapie 1.
          Nowe modele były przygotowane zgodnie z postępem w ustawianiu kamer oraz źródeł światła i skupiały się na
          wykrywaniu szkodników określonych w procesie badawczym.
        </p>
      </div>
    </div>
    <div class="row justify-content-center mt-2">
      <div class="col col-md-10">
        <h2>Etap 3</h2>
        <h3>Cel etapu</h3>
        <p>
          Ten etap skupiony był na rozwoju części softwarowej projektu oraz rozpoczęciu procesu integracji software'u z
          częścią hardware'ową.
        </p>
        <h3>Rozwój algorytmu sztucznej inteligencji</h3>
        <p>
          W tym etapie głównym zadaniem było zaadopotowanie modeli sztucznej inteligencji do docelowej architektury
          modelu. Nas†epnie system został przystoowany do obsługi
          naprzemiennie wszystkich trzech modeli, zapewniając moliwość dynamicznego dostosowywania modeli w zaleznosci
          od potrzeb i warunkow na polu. Modele w nowej aarchitekturze
          wgrane zostały na hardware (po uprzedniej kalibracji warstwy sprzętowej). Następnie przeprowadzone zostaly
          testy prawidlowej pracy urzadzenia.
        </p>
        <p>
          Zostala przeprowadzona równiez optymalizacja interfejsu uzytkownika, wraz z przystosowaniem go do pracy z
          modeli w nowej architekturze, by zapewnic jak najwygodniejsza obsluge modeli na polu.
        </p>
        <h3>Integracja części hardware'owej i software'owej</h3>
        W związku z postępem prac w obu częściach, następiły pierwsze prace w obszarze integracji modułu software'oweg i
        hardware'owego. Najpierw zaimplementowany został mechanizm integracyjny z Modułem Kamer z wykorzystanie Rest API
        modułu kamer jako źródła danych używanego w modelu. Następnie opracowany i wykonany został mechanizm zapisu
        danych z przeanalizowanych obrazów.
        <h3>Promocja projektu</h3>
        <p>Mieliśmy szansę zaprezentować nasz projekt na nastepujących konferencjach:</p>
        <h4>Problemy Zrównoważonego Rolnictwa, Ochrona Obszarów Wiejskich, Zasobów Wodnych i Środowiska - 26-28.09.2023
        </h4>
        <div class="card bg-dark text-white mt-2">
          <img src="{% link assets/images/etap_3_konf_1.jpg %}" class="card-img"
            alt="CEO Łukasz Kopiński prezentuje projekt 'Owoce 4.0' na konferencji Problemy Zrównoważonego Rolnictwa, Ochrona Obszarów Wiejskich, Zasobów Wodnych i Środowiska." />
        </div>
        <div class="d-flex justify-content-center w-100">
          <i class="text-center">
            CEO Łukasz Kopiński prezentuje projekt Owoce 4.0. na konferencji
            Problemy Zrównoważonego Rolnictwa, Ochrona Obszarów Wiejskich, Zasobów Wodnych i Środowiska.
          </i>
        </div>
        <h4>Lubelskie Forum Innowacji Rolniczych - 29.09.2023</h4>
        <h4>Inauguracja “Krajowego Hubu Biogospodarki” - 03-04.10.2023</h4>
        <h4>Podsumowanie projektu “Seedbed" organizowanego przez EIT Food - Lizbona, Portugalia - 08.11.2023</h4>
        <div class="card bg-dark text-white mt-2">
          <img src="{% link assets/images/etap_3_konf_2.jpg %}" class="card-img"
            alt="CTO Miron Marczuk prezentuje projekt na podsumowaniu programu 'Seedbed' organizowanego przez EIT Food." />
        </div>
        <div class="d-flex justify-content-center w-100">
          <i class="text-center">
            CTO Miron Marczuk prezentuje projekt na podsumowaniu programu 'Seedbed' organizowanego przez EIT Food,
            Lizbona, Portugalia, 08.11.2023.
          </i>
        </div>
        <h4>Międzynarodowe Targi "Web Summit" - Lizbona, Portugalia - 15.11.2023</h4>
        <div class="card bg-dark text-white mt-2">
          <img src="{% link assets/images/etap_3_konf_3.jpg %}" class="card-img"
            alt="CTO Miron Marczuk na stanowisku prezentującym projekt podczas globalnych targów Web Summit, Lizbona, Portugalia." />
        </div>
        <div class="d-flex justify-content-center w-100">
          <i class="text-center">
            CTO Miron Marczuk na stanowisku prezentującym projekt podczas globalnych targów Web Summit, Lizbona,
            Portugalia.
          </i>
        </div>
        <h4>Prezentacja projektu podczas wydarzenia "Pitch Me Baby" - Warszawa - 29.11.2023 </h4>
        <div class="card bg-dark text-white mt-2">
          <img src="{% link assets/images/etap_3_konf_4.jpg %}" class="card-img"
            alt="CTO Miron Marczuk prezentuje projekt podczas wydarzenia 'Pitch Me Baby' w Warszawie." />
        </div>
        <div class="d-flex justify-content-center w-100">
          <i class="text-center">
            CTO Miron Marczuk prezentuje projekt podczas wydarzenia 'Pitch Me Baby' w Warszawie.
          </i>
        </div>
      </div>
    </div>
    <div class="row justify-content-center mt-2">
      <div class="col col-md-10">
        <h2>Etap 4</h2>
        <h3>Cel etapu</h3>
        <p>
          Ten etap skupiony byl na integracji części software'owej oraz hardware'owej projektu oraz przygotowanie się na
          nadchodzącyh sezon.
        </p>
        <h3>Przygotowanie modułu wizyjnego</h3>
        <p>
          Na podstawie wiedzy nabytej podczas testowania prototypu modułu wizyjnego w poprzedniem sezonie, został on
          usprawniony i przygotowany do nadchodzącego sezonu.
          Dołączone zostały odpowiednie źródła światła oraz nadajnik GPS pozwalający na lokalizację wykonywanych zdjęć.
          Działanie tak przygotowanego modułu został sprawdzone w warunkach polowych, aby upewnić się, ze wszystkie
          funkcje dzialają zgodnie z oczekiwaniami.
        </p>
        <h3>Integracja software - hardware</h3>
        <p>
          Główną pracą było skoordynowanie rozwoju software i hardware'u. Celem było upewnienie się, ze oba komponenty
          współpracują ze sobą, współdzieląc zasoby obliczeniowe.
          Integrację udało się zastosować poprzez zastosowanie architektury mikroserwisow, komunikujących się poprzez
          REST'owe API, oraz zastosowanie konteneryzacji do uruchomienia poszczególnych komponentów.
          Ujednolicone zostało równiez tworzenie logow podczas dzialania urzadzenia, aby posiadac jednolity zapis ze
          wszystkich komponentow.
        </p>
        <h3>Przygotowanie platformy autonomicznej</h3>
        <p>
          Prace przy platformie skupione zostały na dostosowaniu jej działania do pracy autonomicznej na polach
          porzeczki oraz na mozliwości dołączenia modułu wizyjnego.
        </p>
        <h3>Promocja projektu</h3>
        <p>Mieliśmy szansę zaprezentować nasz projekt na nastepującej konferencji:</p>
        <h4>Międzynarodowa Konferencja "Sustainable Agriculture - New strategies for increasing growth and development
          of crops" - Urszulin, 14-17.05.2024</h4>
        <div class="card bg-dark text-white mt-2">
          <img src="{% link assets/images/etap_4_konf_1.jpg %}" class="card-img"
            alt="CEO Łukasz Kopiński podczas konferencji Sustainable Agriculture - New strategies for increasing growth and development of crops" />
        </div>
        <div class="d-flex justify-content-center w-100">
          <i class="text-center">
            CEO Łukasz Kopiński podczas konferencji Sustainable Agriculture - New strategies for increasing growth and
            development of crops
          </i>
        </div>
      </div>
    </div>
    <div class="row justify-content-center mt-2">
      <div class="col col-md-10">
        <h2>Etap 5</h2>
        <h3>Cel etapu</h3>
        <p>
          Ten etap skupiony był na pozyskaniu danych podczas sezonu wegetacyjnego.
        </p>
        <h3>Uruchomienie modułu wizyjnego w warunkach polowych oraz zebranie zdjęć</h3>
        <p>
          Fundamentem progresu tego etapu było uruchomienie i zapewnienie działania modułu wizyjnego w warunkach
          polowych. Dzięki wykonanym pracom, moduł wizyjny mógł stanowić stabilne źródło danych podczas sezonu
          wegetacyjnego. Moduł został dokładnie do tego uzyty, wykonując zdjęcia i tworząc bazę danych wejściowych do
          dalszej nauki algorytmu.
        </p>
        <h3>Trening ulepszonego modelu sztucznej inteligencji</h3>
        <p>
          Dane pozyskane w trakcie sezonu posłuzyly do dalszego usprawnianaia modelu sztucznej inteligencji. Oznaczone
          zdjecia, co wazne dostarczonoe w ustabilizowanym formacie, zostaly uzyte jako dane wejsciowe w procesie
          nauczania modelu sztucznej inteligencji. Nastepnie dokonana zostala kalibracja modelu, ktora pozwoliła na
          osiągnięcie lepszej dokładności modelu w rozpoznawaniu zadanych szkodników. Było to o tyle wazne, ze zapewniło
          to efektywność uzycia całego rozwiązania w warunkach polowych.
        </p>
        <h3>Promocja projektu</h3>
        <p>Mieliśmy szansę zaprezentować nasz projekt w ramach nastepujących inicjatyw:</p>

        <h4>Warsztaty z produkcji biowęgla w skali gospodarstwa rolnego. Tworzenie oraz zaznajomienie społeczeństwa z
          możliwością opracowania bio produktów - Drzewce-Kolonia, 08.06.2024</h4>
        <p>Warsztaty z wytwarzania biowęgla zorganizowane przez Ribes Technologies Sp z o.o. wraz z IUNG PIB w Puławach
          w siedzibie spółki. W ramach Warsztatów, odbyła się prezentacja Grupy Operacyjnej Owoce 4.0 wraz z pokazem
          działania maszyn i urządzeń zakupionych i wytworzonych przez Ribes Technologies w ramach projektu.</p>
        <div class="card bg-dark text-white mt-2">
          <img src="{% link assets/images/etap_5_konf_1_1.jpg %}" class="card-img"
            alt="Warsztaty z wytwarzania biowęgla." />
        </div>
        <div class="d-flex justify-content-center w-100">
          <i class="text-center">
            CEO Łukasz Kopiński prezentuje projekt Owoce 4.0 oraz koncepcję zrównowaonego rolnictwa.
          </i>
        </div>
        <div class="card bg-dark text-white mt-2">
          <img src="{% link assets/images/etap_5_konf_1_2.jpg %}" class="card-img"
            alt="Warsztaty z wytwarzania biowęgla." />
        </div>
        <div class="d-flex justify-content-center w-100">
          <i class="text-center">
            Wykład prowadzony przez CEO Łukasza Kopińskiego podczas wydarzenia.
          </i>
        </div>
        <div class="card bg-dark text-white mt-2">
          <img src="{% link assets/images/etap_5_konf_1_3.jpg %}" class="card-img"
            alt="Warsztaty z wytwarzania biowęgla." />
        </div>
        <div class="d-flex justify-content-center w-100">
          <i class="text-center">
            Część warsztatowa wytwarzania biowęgla.
          </i>
        </div>

        <h4>Wyspa Innowacji. Dzień otwartych drzwi w Lubelskim Ośrodku Doradztwa Rolniczego w Końskowoli - 23.06.2024
        </h4>
        <div class="card bg-dark text-white mt-2">
          <img src="{% link assets/images/etap_5_konf_2.jpg %}" class="card-img"
            alt="Projekt Owoce 4.0 podczas wydarzenia Wyspa Innowacji Dzień otwartych drzwi w Lubelskim Ośrodku Doradztwa Rolniczego w Końskowoli." />
        </div>
        <div class="d-flex justify-content-center w-100">
          <i class="text-center">
            Projekt Owoce 4.0 podczas wydarzenia "Wyspa Innowacji. Dzień otwartych drzwi w Lubelskim Ośrodku Doradztwa
            Rolniczego w Końskowoli."
          </i>
        </div>

        <h4>Ogólnopolska Konferencja Naukowa - Innowacyjne ogrodnictwo źródłem produktów wysokiej jakości - Lublin,
          4-6.06.2024</h4>
      </div>
    </div>
    <div class="row justify-content-center mt-2">
      <div class="col col-md-10">
        <h2>Etap 6</h2>
        <h3>Cel etapu</h3>
        <p>
          Ostatni etap był skupiony na pełnej integracji opracowanych rozwiązań, weryfikacji wyników projektu oraz
          zaprezentownia wyników dla szerszego grona odbiorców
        </p>
        <h3>Ostatnie zakupy sprzętowo - operacyjne, wykańczające oraz zapewniajace stabilność budowanych produktów</h3>
        <p>
          W ramach ostatniego etapu, zakupy miały na celu finalne usprawnianie opracowywanych rozwiązań oraz adresowanie
          jakichkolwiek występujących w danym momencie braków.
          Kamery oraz odpowiednie źródła światła znacząco usprawniły działanie modułu wizyjnego; wyposażenie stacji
          badawczej pozwoliło na stworzenie odpowiedniego środowiska do przeprowadzania analiz i przetwarzania zebranych
          danych; suszarka do filamentów wsparła proces produkcji i prototypowania elementów niezbędnych do działania
          systemu opryskującego oraz wizyjnego; elektronika sterująca dla tradycyjnego opryskiwacza sadowniczego
          umożliwiła integrację konwencjonalnych rozwiązań z nowoczesnymi systemami monitoringu i detekcji; monitor
          interaktywny wspierał prezentację wyników i współpracę zespołu; zakup baterii do pojazdu autonomicznego
          zwiększył efektywność i czas pracy autonomicznych platform w terenie; namiot specjalistyczny zapewnił ochronę
          sprzętu oraz komfort pracy zespołu podczas badań polowych; a wprowadzenie zaawansowanego oprogramowania do
          analizy danych wskaźnikowych umożliwiło efektywne przetwarzanie informacji ze złożonych map oraz precyzyjną
          ocenę kondycji roślin i poziomu presji szkodników.
        </p>
        <h3>Badania - bezpieczeństwa, środowiskowe oraz pozostałości ŚOR</h3>
        <p>
          Przebadano autonomiczną platformę jezdną pod względem bezpieczeństwa użytkowania na plantacji, a jej
          konstrukcja została zmodernizowana w celu poprawy funkcjonalności. W trakcie tego etapu przeprowadzono również
          badania środowiskowe dotyczące bezpieczeństwa stosowania cyfrowej pułapki feromonowej oraz modułu wizyjnego.
          Dokonano także szczegółowej analizy owoców porzeczki czarnej pod kątem pozostałości środków ochrony roślin.
        </p>
        <h3>Aplikacja internetowa</h3>
        <p>
          Zakupiona aplikacja internetowa do konfiguracji i zarządzania autonomicznym pojazdem, modułem wizyjnym oraz
          modułem opryskiwacza została zaprojektowana z myślą o prostocie i intuicyjności użytkowania. Dzięki
          przyjaznemu interfejsowi użytkownika aplikacja umożliwia sadownikom efektywne sterowanie wszystkimi elementami
          systemu z poziomu przeglądarki internetowej oraz wspierającej aplikacji mobilnej na urządzenia przenośne,
          takie jak tablety.
        </p>
        <h3>Konferencja podsumowująca projekt realizowany przez Grupę Operacyjną „OWOCE 4.0”</h3>
        <p>
          Ważnym punktem tego etapu była konferencja podsumowująca projekt realizowany przez Grupę Operacyjną „OWOCE
          4.0”. Odbyła się ona 29.11.2024 r. w Wąwolnicy na Lubelszczyźnie. Na Konferencji zaprezentowali się
          przedstawiciele podmiotów związanych z realizacją projektu, zarówno z grupy operacyjnej, świata biznesu jak i
          z obszaru nauki. Punktem kulminacyjnym było zaprezentowanie produktów wytworzonych dzięki projektowi "Owoce
          4.0".
        </p>
        <p>
          Poniej krótka relacja wideo z wydarzenia.
        </p>
        <p>

          <iframe width="560" height="315" src="https://www.youtube.com/embed/4GcjKY9ADsc?si=QakzLbS_EvzYOHYL"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </p>
        <h3>Promocja projektu</h3>
        <p>Mieliśmy szansę zaprezentować nasz projekt na nastepujących konferencjach/spotkaniach:</p>
        <h4>IV Konferencja Partnerów AGROEKOTON - Puławy, 12.12.2024</h4>
        <div class="card bg-dark text-white mt-2">
          <img src="{% link assets/images/etap_6_konf_1.jpg %}" class="card-img"
            alt="CEO Łukasz Kopiński na konferencji IV Konferencja Partnerów AGROEKOTON - Puławy, 12.12.2024" />
        </div>
        <div class="d-flex justify-content-center w-100">
          <i class="text-center">
            Projekt Owoce 4.0 podczas wydarzenia "IV Konferencja Partnerów AGROEKOTON"
          </i>
        </div>
        <h4>Finał VI Edycji Programu Grantowego ING - Warszawa, 4.12.2024</h4>
        <h4><b>Konferencja podsumowująca projekt realizowany przez Grupę Operacyjną „OWOCE 4.0”: Podniesienie jakości
            porzeczki czarnej poprzez mniejsze wykorzystanie środków ochrony roślin w procesie uprawy dzięki
            zastosowaniu selektywnego oprysku. Realizowany w ramach działania „Współpraca” - Wąwolnica, 29.11.2024</b>
        </h4>
        <div class="card bg-dark text-white mt-2">
          <img src="{% link assets/images/etap_6_konf_3_1.jpg %}" class="card-img"
            alt="CEO Łukasz Kopiński na Konferencji podsumowującej projekt realizowany przez Grupę Operacyjną „OWOCE 4.0” - Wąwolnica, 29.11.2024" />
        </div>
        <div class="d-flex justify-content-center w-100">
          <i class="text-center">
            CEO Łukasz Kopiński na Konferencji podsumowującej projekt realizowany przez Grupę Operacyjną „OWOCE 4.0” -
            Wąwolnica, 29.11.2024
          </i>
        </div>
        <div class="card bg-dark text-white mt-2">
          <img src="{% link assets/images/etap_6_konf_3_2.jpg %}" class="card-img"
            alt="CTO Miron Marczuk na Konferencji podsumowującej projekt realizowany przez Grupę Operacyjną „OWOCE 4.0” - Wąwolnica, 29.11.2024" />
        </div>
        <div class="d-flex justify-content-center w-100">
          <i class="text-center">
            CTO Miron Marczuk na Konferencji podsumowującej projekt realizowany przez Grupę Operacyjną „OWOCE 4.0” -
            Wąwolnica, 29.11.2024
          </i>
        </div>
        <div class="card bg-dark text-white mt-2">
          <img src="{% link assets/images/etap_6_konf_3_3.jpg %}" class="card-img"
            alt="Brokwer Innowacji w LODR w Końskowoli Marek Siuciak, członek Grupy Operacyjnej Owoce 4.0, na Konferencji podsumowującej projekt realizowany przez Grupę Operacyjną „OWOCE 4.0” - Wąwolnica, 29.11.2024" />
        </div>
        <div class="d-flex justify-content-center w-100">
          <i class="text-center">
            Brokwer Innowacji w LODR w Końskowoli Marek Siuciak, członek Grupy Operacyjnej Owoce 4.0, na Konferencji
            podsumowującej projekt realizowany przez Grupę Operacyjną „OWOCE 4.0” - Wąwolnica, 29.11.2024
          </i>
        </div>
        <div class="card bg-dark text-white mt-2">
          <img src="{% link assets/images/etap_6_konf_3_4.jpg %}" class="card-img"
            alt="Prezes Stowarzyszenia Agroekoton Mirosław Korzeniowski, członek Grupy Operacyjnej Owoce 4.0, na Konferencji podsumowującej projekt realizowany przez Grupę Operacyjną „OWOCE 4.0” - Wąwolnica, 29.11.2024" />
        </div>
        <div class="d-flex justify-content-center w-100">
          <i class="text-center">
            Prezes Stowarzyszenia Agroekoton Mirosław Korzeniowski, członek Grupy Operacyjnej Owoce 4.0, na Konferencji
            podsumowującej projekt realizowany przez Grupę Operacyjną „OWOCE 4.0” - Wąwolnica, 29.11.2024
          </i>
        </div>
        <h4>"IV Szczyt Polskich Grup Operacyjnych EPI” - Łódź, 5-7.11.2024</h4>
        <div class="card bg-dark text-white mt-2">
          <img src="{% link assets/images/etap_6_konf_4_1.jpg %}" class="card-img"
            alt="Projekt Owoce 4.0 podczas wydarzenia 'IV Szczyt Polskich Grup Operacyjnych EPI' - Łódź, 5-7.11.2024" />
        </div>
        <div class="d-flex justify-content-center w-100">
          <i class="text-center">
            Projekt Owoce 4.0 podczas wydarzenia "IV Szczyt Polskich Grup Operacyjnych EPI” - Łódź, 5-7.11.2024
          </i>
        </div>
        <div class="card bg-dark text-white mt-2">
          <img src="{% link assets/images/etap_6_konf_4_2.jpg %}" class="card-img"
            alt="Projekt Owoce 4.0 podczas wydarzenia 'IV Szczyt Polskich Grup Operacyjnych EPI' - Łódź, 5-7.11.2024" />
        </div>
        <div class="d-flex justify-content-center w-100">
          <i class="text-center">
            Projekt Owoce 4.0 podczas wydarzenia "IV Szczyt Polskich Grup Operacyjnych EPI” - Łódź, 5-7.11.2024
          </i>
        </div>
        <h4>Berry Innovation Conference - Mała Wieś, 22.10.2024</h4>
        <h4>„10 lat innowacji” Lubelski Ośrodek Doradztwa Rolniczego w Końskowoli - Jastków, 10.10.2024</h4>
        <div class="card bg-dark text-white mt-2">
          <img src="{% link assets/images/etap_6_konf_6.jpg %}" class="card-img"
            alt="Projekt Owoce 4.0 podczas wydarzenia Berry Innovation Conference - Mała Wieś, 22.10.2024" />
        </div>
        <div class="d-flex justify-content-center w-100">
          <i class="text-center">
            Projekt Owoce 4.0 podczas wydarzenia Berry Innovation Conference - Mała Wieś, 22.10.2024
          </i>
        </div>
        <h4>XXX Międzynarodowa Konferencja Naukowa “Problemy zrównoważonego rolnictwa, ochrona obszarów wiejskich,
          zasobów wodnych i środowiska” - Falenty, 16-18.09.2024</h4>
        <div class="card bg-dark text-white mt-2">
          <img src="{% link assets/images/etap_6_konf_7.jpg %}" class="card-img"
            alt="Projekt Owoce 4.0 podczas wydarzenia XXX Międzynarodowa Konferencja Naukowa “Problemy zrównoważonego rolnictwa, ochrona obszarów wiejskich, zasobów wodnych i środowiska” - Falenty, 16-18.09.2024" />
        </div>
        <div class="d-flex justify-content-center w-100">
          <i class="text-center">
            CEO Łukasz Kopiński prezentujący na wydarzeniu XXX Międzynarodowa Konferencja Naukowa “Problemy
            zrównoważonego rolnictwa, ochrona obszarów wiejskich, zasobów wodnych i środowiska” - Falenty, 16-18.09.2024
          </i>
        </div>
      </div>
    </div>
</body>

</html>